*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.open-menu {
  height: 31%;
}

@font-face {
  font-family: "Maki-Sans";
  src: local("MakiSans"), url("../fonts/MakiSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: local("Jost"), url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: local("Jost"), url("../fonts/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  position: relative;
  background-color: #faeeeb;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

/* global */

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.wrapper {
  padding: 0 40px;
  max-width: 1920px;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
}

.noscroll {
  overflow: hidden;
}

.just-validate-error-label {
  padding-top: 4px;
  color: #f00 !important;
  font-size: 14px;
  line-height: 120%;
}

.just-validate-error-field {
  outline: 2px solid rgba(255, 0, 0, 0.8) !important;
  border: none !important;
}

/* hero */

.hero {
  padding: 0 40px;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-image: url(../img/hero-bacrground.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-back {
  width: fit-content;
  align-items: center;
  color: #5c0c70;
  font-size: 24px;
  font-style: normal;
  line-height: 120%;
}

.hero-back svg {
  margin-right: 10px;
  fill: #5c0c70;
}

.hero-back:hover {
  color: #9258a5;
}

.hero-back:hover svg {
  fill: #9258a5;
}

.hero-back:active {
  color: #40094e;
}

.hero-back:active svg {
  fill: #40094e;
}

.hero-back_conteiner {
  padding-top: 20px;
  margin-bottom: 32px;
}

.lifehack-name {
  width: fit-content;
  position: relative;
  left: 140px;
  top: 19px;
  z-index: 2;
}

.hero_text-wrap {
  position: absolute;
  padding: 40px 20px;
  max-width: 594px;
  top: 160px;
  left: 450px;
  border-radius: 40px;
  background-color: #fd8e5e;
  transform: rotate(2deg);
}

.hero_text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.hero-top {
  position: relative;
}

/* Анимация */

.hero-animation {
  padding-bottom: 20px;
  padding-top: 205px;
  justify-content: center;
  align-items: end;
}

.animation-right {
  flex-direction: column;
  position: relative;
  right: -97px;
}

.letter {
  position: relative;
  left: -101px;
}

.square {
  position: relative;
  left: -149px;
}

.gear {
  position: relative;
  left: -93px;
}

.column {
  position: relative;
  right: 3px;
}

.ball {
  position: relative;
  top: -65px;
}

.stick2-wrap {
  position: relative;
  top: -30px;
  right: -60px;
}

.stick1-wrap {
  position: relative;
  top: -72px;
}

/* Кнопка */

.btn-wrap {
  margin-bottom: 40px;
  justify-content: end;
}

.btn-lifehack {
  padding: 14px 40px;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #ff4e00;
  color: #ff4e00;
  font-family: Maki-Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-lifehack:hover {
  background: rgba(255, 78, 0, 0.1);
}

.btn-lifehack:active {
  background: rgba(255, 78, 0, 0.2);
}

.btn-lifehack:disabled {
  background: rgba(25, 24, 18, 0.1);
  color: rgba(25, 24, 18, 0.4);
  border: none;
  pointer-events: none;
}

.btn-lifehack svg {
  fill: #ff4e00;
}

.btn-lifehack path {
  fill: white;
}

.btn-lifehack:hover svg {
  border-radius: 56px;
  border: 2px solid #ff4e00;
  fill: white;
}

.btn-lifehack:hover path {
  fill: #ff4e00;
}

.btn-lifehack:active svg {
  border: none;
  fill: white;
}

.btn-lifehack:active path {
  fill: #ff4e00;
}

.btn-lifehack:disabled svg {
  border: 2px solid rgba(25, 24, 18, 0.4);
  border-radius: 56px;
  fill: white;
}

.btn-lifehack:disabled path {
  fill: rgba(25, 24, 18, 0.4);
}

/* lifehack */

.lifehack {
  gap: 20px;
  margin-bottom: 62px;
}

.lifehack_title {
  color: #5c0c70;
  font-family: Maki-Sans;
  font-size: 96px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}

.lifehack_name {
  position: relative;
  height: 572px;
  width: 24.5%;
  position: sticky;
  top: 10px;
  border-radius: 32px;
  background: linear-gradient(
    180deg,
    rgba(193, 142, 209, 0.6) 0%,
    rgba(253, 142, 94, 0.6) 100%
  );
  backdrop-filter: blur(4px);
}

.cards-wrap {
  height: 532px;
  position: absolute;
  right: 8px;
  bottom: 20px;
  top: 20px;
  padding: 0 8px 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

.cards-wrap::-webkit-scrollbar {
  width: 6px;
}

.cards-wrap::-webkit-scrollbar-track {
  background: transparent;
}

.cards-wrap::-webkit-scrollbar-thumb {
  background-color: #5c0c70;
  border-radius: 20px;
  border: 3px solid transparent;
}

.cards-wrap {
  scrollbar-width: thin;
  scrollbar-color: #5c0c70 transparent;
}

.lifehack_cards {
  border-radius: 18px;
  display: flex;
  padding: 9px 10px;
  cursor: pointer;
}

.lifehack_cards:not(:last-child) {
  margin-bottom: 20px;
}

/* Стили для вкладок */

.lifehack_name .lifehack_cards {
  position: relative;
  cursor: pointer;
}

.lifehack_name .lifehack_cards--active {
  border-radius: 18px;
  background-color: rgba(250, 238, 235, 0.8);
  pointer-events: none;
}

.lifehack_content {
  display: none;
}

.lifehack_content--active {
  display: block;
}

/* Конец стилей для вкладок */

.lifehack-cards-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #5c0c70;
  line-height: 120%;
  margin-bottom: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.lifehack-cards-about {
  font-size: 14px;
  font-style: normal;
  color: #5c0c70;
  line-height: 120%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.lifehack-cards-img {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  margin-right: 8px;
}

.lifehack_information {
  width: 75.5%;
  border-radius: 40px;
  background: linear-gradient(
    152deg,
    rgba(253, 142, 94, 0.3) 0%,
    rgba(193, 142, 209, 0.3) 99.56%
  );
  padding: 60px 158px 96px 152px;
}

.lifehack_img_close {
  display: none;
}

.lifehack-information-about {
  margin-bottom: 40px;
}

.lifehack-information-img {
  margin-bottom: 20px;
}

.lifehack-information-img_link {
  margin-bottom: 40px;
  text-align: center;
}

.lifehack-information-photo_caption {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #5c0c70;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
}

.lifehack-information-photo_caption:hover {
  color: #9258a5;
}

.lifehack-information-link:hover {
  color: #9258a5;
}

.lifehack-information-link:active {
  color: #40094e;
}

.lifehack-information-link.disabled {
  pointer-events: none;
  color: rgba(25, 24, 18, 0.4);
}

.lifehack-information-title {
  color: #5c0c70;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.lifehack_foto {
  width: 100%;
}

.lifehack-information-text {
  color: #5c0c70;
  font-size: 24px;
  font-style: normal;
  line-height: 120%;
}

.lifehack-information-text:not(:last-child) {
  margin-bottom: 40px;
}

.lifehack-information-link {
  color: #5c0c70;
  font-family: Maki-Sans;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.lifehack-information-end {
  text-align: end;
}

/* Форма модального окна Предложить лайфхак */

.modal-open {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #fbddb2 0%, #fbddb2 100%), #fff;
  z-index: 4;
}

.form {
  padding: 40px;
  padding-top: 0;
}

.offer-modal {
  border: 1px solid red;
  width: 600px;
  height: 791px;
  border-radius: 32px;
  background: #faeeeb;
  z-index: 3;
}

.form-label {
  position: relative;
  margin-bottom: 22px;
  flex-direction: column;
}

.input-name {
  margin-bottom: 10px;
  color: #5c0c70;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.form-input,
.form-textarea {
  padding: 17px 14px 12px 14px;
  border-radius: 8px;
  border: 2px solid rgba(255, 78, 0, 0.12);
  background: rgba(255, 255, 255, 0.7);
}

.form-textarea {
  min-height: 140px;
}

.form-input,
.form-textarea {
  color: #5c0c70;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #99a9b9;
  white-space: nowrap;
  font-family: Jost;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.form-input:hover,
.form-textarea:hover {
  border: 2px solid rgba(255, 78, 0, 0.28);
  background: #fff;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
}

.form-input:disabled,
.form-textarea:disabled {
  background: rgba(25, 24, 18, 0.05);
  border: 2px solid transparent;
  color: rgba(25, 24, 18, 0.4);
  pointer-events: none;
}

.choices__list--dropdown {
  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(253, 142, 94, 0.6) 0%,
      rgba(253, 142, 94, 0.6) 100%
    ),
    #fff;
}

.choices__list--dropdown .choices__list {
  padding: 12px;
}

.choices__item {
  color: #5c0c70;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 8px;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #faeeeb !important;
  color: #5c0c70 !important;
  border-radius: 8px;
}

.choices__list--dropdown .choices__item:hover {
  background-color: #faeeeb;
}

.choices__placeholder {
  color: #99a9b9;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.choices__inner {
  border-radius: 8px;
  border: 2px solid rgba(255, 78, 0, 0.12);
  background-color: rgba(255, 255, 255, 0.7);
}

.choices__inner:hover {
  border: 2px solid rgba(255, 78, 0, 0.28);
  background: #fff;
}

.choices__inner:active {
  border-radius: 8px;
}

.is-focused .choices__inner {
  border: 2px solid rgba(255, 78, 0, 0.28);
  border-radius: 8px;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices[data-type*="select-one"]:after {
  background-image: url(../img/chevron-down-sm.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
  top: 35%;
  z-index: 3;
}

.choices[data-type*="select-one"].is-open:after {
  top: 45%;
  transform: rotate(180deg);
}

.btn-form {
  margin-bottom: 20px;
  padding: 12px 40px;
  width: 100%;
  border-radius: 8px;
  background: #ff4e00;
  color: #fff;
  font-family: Maki-Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.btn-form:hover {
  border-radius: 8px;
  outline: 2px solid #ff4e00;
  background-color: #fff;
  color: #ff4e00;
}

.btn-form:active {
  background-color: rgba(255, 78, 0, 0.1);
}

.btn-form:disabled {
  background: rgba(25, 24, 18, 0.1);
  color: rgba(25, 24, 18, 0.4);
  outline: none;
  pointer-events: none;
}

.form-text {
  color: #5c0c70;
  font-size: 16px;
  font-style: normal;
  line-height: 120%;
}

.form-text a {
  text-decoration-line: underline;
}

.form-docs:hover {
  color: #9258a5;
}

.form-docs:active {
  color: #40094e;
}

.form-close {
  padding: 28px 40px 0 40px;
  margin-bottom: 7px;
  justify-content: flex-end;
}

.btn-close {
  cursor: pointer;
}

.btn-clear {
  outline: none;
  border: none;
  position: absolute;
  right: 12px;
  top: 50px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../img/x-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* Модальное окно Спасибо */

.thanks-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #fbddb2 0%, #fbddb2 100%), #fff;
  z-index: 5;
}

.thanks-modal_content {
  padding: 40px;
  max-width: 600px;
  border-radius: 32px;
  background: #faeeeb;
}

.thanks-text {
  margin-bottom: 20px;
  color: #5c0c70;
  font-size: 24px;
  font-style: normal;
  line-height: 120%;
}

.thanks-text_bottom {
  margin-bottom: 40px;
}

.thanks-close {
  margin-bottom: 20px;
  justify-content: flex-end;
}

.thanks-btn_close {
  cursor: pointer;
}

/* Адаптив */

@media (max-width: 1750px) {
  .animation-right {
    top: 5px;
    right: -97px;
  }

  .letter {
    width: 168px;
    height: 190px;
    left: -56px;
  }

  .square {
    width: 130px;
    height: 130px;
    left: -83px;
  }

  .gear {
    width: 222px;
    height: 220px;
    left: -39px;
  }

  .column {
    width: 56px;
    height: 127.5px;
    right: -29px;
  }

  .ball {
    width: 55px;
    height: 55px;
    top: -6px;
  }

  .stick2-wrap {
    top: -5px;
  }

  .stick1-wrap {
    top: -11px;
  }
}

@media (max-width: 1440px) {
  .lifehack_information {
    padding: 60px 80px 80px 80px;
  }

  .lifehack_cards:not(:last-child) {
    margin-bottom: 5px;
  }

  .cards-wrap {
    height: 476px;
    padding: 0 8px 0 8px;
    bottom: 12px;
    top: 12px;
  }

  .lifehack_name {
    height: 500px;
  }
}

@media (max-width: 1200px) {
  .lifehack_title {
    font-size: 60px;
  }

  .hero-back {
    font-size: 20px;
  }

  .hero_text {
    font-size: 16px;
  }

  .hero_text-wrap {
    padding: 20px 10px;
    max-width: 358px;
    top: 115px;
    left: 374px;
    border-radius: 20px;
  }

  .hero-animation {
    padding-top: 120px;
  }

  .hero-top {
    margin-bottom: 70px;
  }

  .btn-lifehack {
    padding: 12px 24px;
    gap: 8px;
    font-size: 18px;
  }

  .btn-lifehack svg {
    width: 40px;
    height: 40px;
  }

  .lifehack_information {
    padding: 40px 20px;
    width: 67.4%;
  }

  .lifehack_name {
    width: 32.6%;
  }

  .animation-right {
    right: -30px;
  }

  .letter {
    left: -59px;
  }

  .square {
    left: -87px;
  }

  .gear {
    left: -59px;
  }

  .column {
    right: 16px;
  }
}

@media (max-width: 1024px) {
  .hero {
    background-image: url(../img/hero-bacrground_tablet.webp);
    margin-bottom: 83px;
  }

  .hero-top {
    margin-bottom: 87px;
  }

  .hero_text-wrap {
    top: 110px;
    left: 304px;
  }

  .lifehack_title {
    font-size: 47px;
  }

  .lifehack-name {
    top: 38px;
    left: 112px;
  }

  .hero-animation {
    padding-top: 90px;
  }

  .btn-wrap {
    margin-bottom: 20px;
  }

  .lifehack-information-title {
    font-size: 20px;
  }

  .lifehack-information-text {
    font-size: 16px;
  }

  .lifehack-information-text:not(:last-child) {
    margin-bottom: 20px;
  }

  .lifehack-information-link {
    font-size: 18px;
  }

  .lifehack-information-about {
    margin-bottom: 52px;
  }

  .lifehack {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
  }

  .thanks-text {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .letter {
    width: 115px;
    height: 117px;
  }

  .square {
    width: 73px;
    height: 73px;
  }

  .gear {
    width: 118px;
    height: 118px;
  }

  .column {
    width: 31px;
    height: 69px;
  }

  .ball {
    width: 30px;
    height: 30px;
    top: 2px;
  }

  .stick2-wrap {
    top: 0;
    right: -19px;
  }

  .stick1-wrap {
    top: 0;
  }

  .lifehack_information {
    width: 58%;
  }

  .lifehack_name {
    width: 42%;
  }
}

@media (max-width: 768px) {
  .lifehack-name {
    top: 0;
  }

  .hero-back_conteiner {
    margin-bottom: 50px;
  }

  .hero_text-wrap {
    top: 72px;
  }

  .hero {
    margin-bottom: 56px;
  }

  .hero_text {
    font-size: 12px;
  }

  .hero_text-wrap {
    padding: 20px 12px;
    max-width: 230px;
    border-radius: 28px;
  }

  .hero-animation {
    padding-top: 87px;
  }

  .lifehack {
    margin-bottom: 60px;
    gap: 0;
  }

  .lifehack_information {
    padding: 20px;
    padding-bottom: 77px;
    width: 100%;
    border-radius: 0;
  }

  .lifehack_name {
    width: 100%;
  }

  .lifehack_img_close {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .lifehack-information-about {
    margin-bottom: 40px;
  }

  .lifehack-information-title {
    font-size: 40px;
  }

  .lifehack-information-about {
    margin-bottom: 20px;
  }

  .lifehack-information-text {
    font-size: 14px;
  }

  .lifehack-information-photo_caption {
    font-size: 12px;
  }

  .lifehack-information-link {
    font-size: 16px;
  }

  .lifehack-information-img_link {
    margin-bottom: 27px;
  }

  .information-outside {
    margin-bottom: 52px;
  }

  .offer-modal {
    width: 520px;
  }

  .form-text_wrap {
    text-align: center;
  }

  .thanks-modal_content {
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 0 20px 0 20px;
  }

  .hero {
    padding: 0 20px;
  }

  .hero-back_conteiner {
    padding-left: 0;
    margin-bottom: 24px;
  }

  .lifehack-name {
    left: 34px;
  }

  .hero_text-wrap {
    left: 207px;
  }

  .btn-wrap {
    margin-bottom: 40px;
    justify-content: center;
  }

  .hero-back {
    font-size: 14px;
  }

  .letter {
    display: none;
  }

  .animation-right {
    right: -41px;
  }

  .column {
    right: -11px;
  }

  .gear {
    left: -23px;
  }

  .square {
    left: -50px;
  }

  .lifehack_cards:not(:last-child) {
    margin-bottom: 20px;
  }

  .lifehack_name {
    height: 572px;
  }

  .cards-wrap {
    height: 532px;
    padding: 0 11px 0 12px;
    bottom: 20px;
    top: 20px;
  }

  .cards-wrap::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
  }
  .lifehack-information-img {
    margin-bottom: 8px;
  }

  .offer-modal {
    height: 100vh;
    width: 100%;
    border: none;
    border-radius: 0;
  }

  .form-close {
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
  }

  .form {
    padding: 20px;
    padding-top: 0;
  }

  .btn-close {
    width: 24px;
    height: 24px;
  }

  .label-aria {
    margin-bottom: 40px;
  }

  .btn-form {
    margin-bottom: 12px;
  }

  .form-text_wrap {
    margin-bottom: 60px;
  }

  .figure1,
  .figure2,
  .figure4,
  .figure5 {
    width: 47.5px;
  }

  .figure3,
  .figure6 {
    width: 46.8px;
  }
}

@media (max-width: 480px) {
  .square {
    display: none;
  }

  .animation-right {
    right: -22px;
  }

  .column {
    right: 15px;
  }

  .gear {
    left: -52px;
  }

  .lifehack_title {
    font-size: 40px;
  }

  .hero_text-wrap {
    left: 104px;
    top: 68px;
  }

  .input-name {
    font-size: 14px;
  }

  .form-input::placeholder,
  .form-textarea::placeholder {
    font-size: 14px;
  }

  .form-input,
  .form-textarea {
    font-size: 14px;
  }

  .form-input,
  .form-textarea {
    padding: 7px 14px 10px 14px;
  }

  .choices__item {
    font-size: 14px;
  }

  .choices__list--dropdown .choices__item {
    font-size: 14px;
  }

  .choices__placeholder {
    font-size: 14px;
  }

  .form-text {
    font-size: 12px;
  }

  .btn-clear {
    top: 33px;
  }

  .thanks-text {
    font-size: 14px;
  }

  .thanks-btn_close {
    width: 24px;
  }

  .thanks-close {
    margin-bottom: 40px;
  }

  .thanks-modal_content {
    padding: 20px;
  }
}

@media (max-width: 375px) {
  .hero {
    background-image: url(../img/hero-bacrground_mobile.webp);
    margin-bottom: 76px;
  }

  .hero-top {
    margin-bottom: 87px;
    padding-top: 60px;
  }

  .lifehack-name {
    left: 10px;
  }

  .hero_text-wrap {
    left: 88px;
    top: 126px;
  }

  .hero-back_conteiner {
    padding-left: 20px;
  }

  .hero-animation {
    padding-bottom: 0;
  }

  .column {
    right: 5px;
  }

  .gear {
    left: -35px;
  }

  .animation-right {
    right: -20px;
  }
}
