.hidden-total {
  display: none;
}

/* Хэдер */
.header-profile {
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.profile-back_margin {
  margin-right: 68px;
}

.exit-wrap {
  margin-right: 36.5px;
  align-items: center;
  cursor: pointer;
}

.exit-wrap svg {
  margin-right: 18px;
}

.profile-logo {
  margin-right: auto;
  cursor: pointer;
}

.profile-back {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.profile-back:hover {
  background-image: url(../img/link_hover.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

/* Слева */

.profile {
  margin-bottom: 120px;
  gap: 20px;
}

.profile-left {
  padding: 60px 20px;
  height: 763px;
  border-radius: 40px;
  background-color: rgba(193, 142, 209, 1);
}

.profil-close {
  top: 20px;
  right: 20px;
}

.profile-fio {
  margin-bottom: 60px;
  max-width: 250px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.profile-card:not(:last-child) {
  margin-bottom: 20px;
}

.profile-card {
  padding: 12px 28px;
  align-items: center;
}

.profile-card-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.profile-left-icon {
  margin-right: 20px;
  width: 24%;
}

.icon-svg {
  fill: white;
}

.profile-left .profile-card {
  position: relative;
  cursor: pointer;
}

.profile-left .profile-card--active {
  border-radius: 16px;
  background-color: rgba(250, 238, 235, 1);
}

.profile-content {
  display: none;
}

.profile-content--active {
  display: block;
}

.profile-card-title--active {
  color: rgba(92, 12, 112, 1);
}

.icon-svg--active {
  fill: #5c0c70;
}

.icon-svg--especial {
  fill: none;
  stroke: white;
}

.icon-svg--especial_activ {
  stroke: #5c0c70;
}

/* Профиль */

.profile-right {
  width: 100%;
}

.profile-content--about {
  border-radius: 40px;
  background-color: rgba(255, 217, 131, 0.3);
  background-image: url(../img/profile-img.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.form-profile {
  padding: 60px 60px 142px 60px;
}

.form-profile--label {
  position: relative;
  flex-direction: column;
}

.input-profile--info {
  margin-bottom: 8px;
  font-family: Jost;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.form-profile--label:not(:last-child) {
  margin-bottom: 20px;
}

.form-profile--left,
.form-profile--right {
  width: 338px;
}

.password-change {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.btn-profile {
  padding: 14px 40px;
  border-radius: 8px;
  border: 2px solid rgba(92, 12, 112, 1);
  font-family: Maki-Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.form-profile--input::placeholder {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(153, 169, 185, 1);
}

.form-profile--input {
  padding: 12px 14px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.form-profile--content {
  margin-bottom: 60px;
  gap: 120px;
}

.form-profile--input:hover {
  outline: 2px solid rgba(255, 78, 0, 0.28);
  background: #fff;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.form-profile--input:focus {
  border: none;
  outline: 2px solid rgba(255, 78, 0, 0.28);
}

.form-profile--input:disabled {
  background: rgba(25, 24, 18, 0.05);
  border: 2px solid transparent;
  color: rgba(25, 24, 18, 0.4);
  pointer-events: none;
  outline: none;
}

.password-change:hover {
  color: rgba(146, 88, 165, 1);
}

.password-change:active {
  color: rgba(64, 9, 78, 1);
}

.btn-profile:hover {
  background-color: rgba(92, 12, 112, 0.1);
}

.btn-profile:active {
  background-color: rgba(92, 12, 112, 0.2);
}

.btn-profile:disabled {
  background: rgba(25, 24, 18, 0.1);
  color: rgba(25, 24, 18, 0.4);
  border: none;
  pointer-events: none;
}

.btn-clear--profile {
  top: 48px;
}

.btn-eye--off {
  outline: none;
  border: none;
  position: absolute;
  right: 12px;
  top: 48px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../img/tabler_eye-off.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.btn-eye--on {
  background-image: url(../img/tabler_eye-on2.png);
}

/* Избранное */
.profile-cards {
  padding: 80px 155px 60px 155px;
  gap: 20px;
}

.profile-content--favourite {
  background-color: rgba(255, 217, 131, 0.3);
  border-radius: 40px;
}

.cards__item .profile-card-favorite {
  margin-bottom: 18px;
  height: 356px;
}

.favorite-btn {
  padding: 14px 40px;
  font-family: Maki-Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.favorite-btn svg {
  margin-left: 20px; /* Устанавливаем отступ слева от иконки */
}

.favorite-btn-show:hover {
  background-color: rgba(92, 12, 112, 0.1);
}

.favorite-btn-show:active {
  background-color: rgba(92, 12, 112, 0.2);
}

.favorite-btn-show:disabled {
  background: rgba(25, 24, 18, 0.1);
  color: rgba(25, 24, 18, 0.4);
  border: none;
  pointer-events: none;
}

.favorite-btn-wrap {
  padding-bottom: 80px;
  justify-content: center;
}

.favorite-btn-show {
  display: none;
  margin-right: 20px;
  border: 2px solid rgba(92, 12, 112, 1);
  border-radius: 8px;
}

.favorite-btn-hide svg {
  stroke: #5c0c70;
}

.favorite-btn-hide:hover {
  color: #9258a5;
}

.favorite-btn-hide:hover svg {
  stroke: #9258a5;
}

.favorite-btn-hide:active {
  color: #40094e;
}

.favorite-btn-hide:active svg {
  stroke: #40094e;
}

/* Результаты */
.profile-content--results {
  height: 100%;
  border-radius: 40px;
  background-color: rgba(255, 217, 131, 0.3);
}

.results-info {
  padding: 60px;
}

.profile-title {
  margin-bottom: 20px;
  font-family: Jost;
  font-size: 32px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.profile-text {
  margin-bottom: 40px;
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.results-btn--text {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  color: rgba(92, 12, 112, 0.6);
}

.results-btn {
  width: 50%;
  cursor: pointer;
}

.results-btns {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(92, 12, 112, 0.6);
}

.results-btn--active {
  background-color: rgba(193, 142, 209, 1);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.results-btn--active .results-btn--text {
  color: rgba(255, 255, 255, 1);
}

.results-card {
  display: none;
}

.results-card--active {
  display: block;
}

.profile-text--results {
  margin-bottom: 60px;
}

.profile-text--test {
  margin-bottom: 20px;
}

/* таблица */
table.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table--row1 {
  background-color: rgba(255, 255, 255, 1);
}

.results-table--row2 {
  background-color: #faeeeb;
}

.results-table--cell {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(92, 12, 112, 1);
}

.results-table--title {
  font-weight: 600;
}

.cell-border-right {
  border-right: 1px solid rgba(92, 12, 112, 0.4);
}

.results-table {
  margin-bottom: 60px;
  border-radius: 20px;
  overflow: hidden;
}

/* ----------------- */

.result-btn-look {
  padding: 14px 37px;
}

.result-btn-again {
  border: 2px solid rgba(92, 12, 112, 1);
  border-radius: 8px;
}

.result-btn-again:hover {
  background-color: rgba(92, 12, 112, 0.1);
}

.result-btn-again:active {
  background-color: rgba(92, 12, 112, 0.2);
}

.result-btn-again:disabled {
  background: rgba(25, 24, 18, 0.1);
  color: rgba(25, 24, 18, 0.4);
  border: none;
  pointer-events: none;
}

.result-btn-look svg,
.result-btn-hide svg {
  stroke: #5c0c70;
}

.result-btn-look:hover,
.result-btn-hide:hover {
  color: #9258a5;
}

.result-btn-look:hover svg,
.result-btn-hide:hover svg {
  stroke: #9258a5;
}

.result-btn-look:active,
.result-btn-hide:active {
  color: #40094e;
}

.result-btn-look:active svg,
.result-btn-hide:active svg {
  stroke: #40094e;
}

.result-btn-look,
.result-btn-hide {
  width: 100%;
  text-align: center;
}

.btn-result {
  margin-right: 20px;
  width: 38%;
}

.results-tests {
  padding: 12px 32px 12px 20px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.results-tests:not(:last-child) {
  border-bottom: 1px solid rgba(92, 12, 112, 0.4);
}

.result-block:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}

.result-block:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.btn-again {
  align-items: flex-start;
}

.results-tests-name {
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.results-tests-date {
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 0.6);
}

table.task-table {
  width: 100%;
  border-collapse: collapse;
  /* height: 258px; */
}

.task-table tr {
  background-color: #faeeeb;
  border-bottom: 1px solid rgba(92, 12, 112, 0.4);
}

.task-table td {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.task-table td:nth-child(odd) {
  width: 48%;
}

.task-table td:nth-child(even) {
  width: 52%;
}

.task-table-title {
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.task-table-cell {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(92, 12, 112, 1);
}

.task-table-wrap {
  max-height: 264px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: none;
  transition: all 0.3s ease-in-out;
}

.task-table-wrap::-webkit-scrollbar {
  background-color: #faeeeb;
  border-radius: 5px;
  width: 6px;
}

.task-table-wrap::-webkit-scrollbar-thumb {
  background-color: rgba(136, 90, 148, 1);
  border-radius: 3px;
}

.task-table-wrap {
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.task-table-wrap.visible {
  display: block;
  max-height: 264px;
}

/* Задания */
.results-card--name {
  /* position: relative; */
  padding: 20px;
  padding-right: 30px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

.card-svg {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  /* top: 35%; */
}

.minus {
  /* top: 16px; */
  transform: translateY(-80%);
}

.results-card--topic {
  position: relative;
  border-radius: 20px;
  background-color: rgba(250, 238, 235, 1);
  cursor: pointer;
  transition: all 0.4s linear;
}

.plus:before {
  content: url(../img/plus.svg);
}

.minus:before {
  content: url(../img/minus.svg);
}

.results-card--hidden {
  display: none;
}

.profile-text--margin {
  margin-bottom: 46px;
}

.results-card--test li {
  margin-bottom: 4px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  list-style-type: none;
}

.card-hidden--name {
  margin-bottom: 12px;
  font-weight: 600;
}

.card-hidden {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card-hidden--left {
  width: 50%;
}

table.task-table--topic {
  height: auto;
  border-radius: 12px;
  overflow: hidden;
}

.task-table--topic tr:last-child {
  border-bottom: none;
}

.profile-menu {
  margin-bottom: 30px;
  align-items: center;
}

.profile-menu--text {
  font-size: 16px;
  color: rgba(92, 12, 112, 1);
}

.profile-menu--icon {
  margin-right: 24px;
}

/* Адаптив */
@media (max-width: 1750px) {
  .input-profile--info {
    font-size: 20px;
  }

  .profile-fio,
  .profile-card-title,
  .profile-back,
  .cards__title-profile,
  .results-table--cell,
  .results-card--name,
  .card-hidden--name {
    font-size: 20px;
  }

  /* .form-profile--input::placeholder {
  font-size: 20px;
} */

  .btn-profile {
    padding: 12px 22.5px;
    font-size: 18px;
  }

  .form-profile--content {
    gap: 40px;
  }

  .profile-back_margin {
    margin-right: 56px;
  }

  .exit-wrap svg {
    margin-right: 28px;
  }

  .profile-cards {
    padding: 80px 65px 40px 65px;
    gap: 20px;
  }

  .favorite-btn {
    padding: 12px 28px;
    font-size: 18px;
  }

  .favorite-btn-wrap {
    padding-bottom: 60px;
  }

  .profile {
    margin-bottom: 80px;
  }

  .profile-title,
  .results-btn--text {
    font-size: 24px;
    line-height: 24px;
  }

  .profile-text {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 19px;
  }

  .results-table {
    margin-bottom: 40px;
  }

  .result-btn-again {
    padding: 6.5px 22px;
  }

  .results-tests-wrap {
    width: 457px;
  }

  .profile-text--margin {
    margin-bottom: 63px;
  }

  .results-card--name {
    padding: 19.5px 20px;
  }
}

@media (max-width: 1600px) {
  .profile-menu {
    display: flex;
  }

  .profile-left {
    padding: 84px 20px 60px 40px;
    position: absolute;
    z-index: 1;
    left: -100%;
    transition: left 1.2s;
    border-radius: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  /* .results-btn-wrap {
    padding-bottom: 221px;
  } */

  .profile-left.appear {
    left: 0;
    transition: left 0.6s;
  }

  .form-profile--content {
    gap: 120px;
  }

  .header-profile {
    margin-bottom: 30px;
  }

  .task-table-wrap.visible {
    max-height: 275px;
  }

  .profil-close {
    display: block;
  }

  .card-hidden--left {
    width: 61%;
  }
}

@media (max-width: 1440px) {
  .profile-content--about {
    background-image: url(../img/profile-img_tablet.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
  }

  .form-profile {
    padding: 60px 60px 425px 60px;
  }

  .form-profile {
    max-width: 920px;
    margin: 0 auto;
  }

  .profile-cards {
    padding: 20px 20px 40px 20px;
  }
}

@media (max-width: 1366px) {
  .results-info {
    padding: 40px;
  }

  /* .results-btn-wrap {
    padding-bottom: 261px;
  } */

  .profile-title,
  .results-btn--text {
    font-size: 20px;
  }

  .profile-text {
    font-size: 16px;
  }

  .profile-text--results {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .results-table--cell {
    font-size: 16px;
    line-height: 19px;
  }

  .results-table--title {
    font-size: 20px;
  }

  .favorite-btn {
    font-size: 18px;
  }

  .profile-text--results {
    margin-top: 0;
  }

  .task-table-title,
  .task-table-cell,
  .results-tests-name,
  .results-tests-date {
    font-size: 14px;
  }

  .task-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
  }

  /* .favorite-btn {
    margin-bottom: 20px;
  } */

  .card-hidden:not(:last-child) {
    margin-bottom: 4px;
  }
}

@media (max-width: 1200px) {
  .form-profile {
    padding: 60px 60px 355px 60px;
  }

  /* .results-btn-wrap {
    padding-bottom: 266px;
  } */

  .card__favorite svg {
    width: 30px;
    height: 29px;
  }

  .cards__item .profile-card-favorite {
    height: 284px;
  }

  .result-btn-look {
    padding: 9.5px 14px;
  }

  .btn-result {
    width: 37%;
  }
}

@media (max-width: 1024px) {
  .form-profile {
    padding: 60px 60px 283px 60px;
  }

  .form-profile--label:not(:last-child) {
    margin-bottom: 15px;
  }

  .profile-left {
    height: 884px;
  }

  .card-hidden--left {
    width: 64%;
  }

  /* .results-btn-wrap {
    padding-bottom: 368px;
  } */
}

@media (max-width: 992px) {
  /* .results-btn-wrap {
    padding-bottom: 349px;
  } */

  .form-profile--content {
    gap: 0;
    justify-content: space-between;
  }

  .btn-result {
    width: 52%;
  }

  .card-hidden--left {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .form-profile {
    padding: 28px 20px 210px 20px;
  }

  .form-profile--content {
    gap: 20px;
  }

  .profile-left {
    height: 779px;
  }

  .favorite-btn svg {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  /* Форма */
  .profile-logo img {
    width: 52px;
    height: 50px;
  }

  .wrapper {
    padding: 0 20px;
  }

  .header-profile {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .header-profile {
    margin-bottom: 20px;
  }

  .profile-back {
    font-size: 14px;
  }

  .exit-wrap svg {
    margin-right: 9px;
    width: 12px;
    height: 13px;
  }

  .profile-back_margin {
    margin-right: 20px;
  }

  .exit-wrap {
    margin-right: 0;
  }

  .profile-menu {
    margin-bottom: 20px;
  }

  .profile-menu svg {
    width: 16px;
    height: 10px;
  }

  .profile-menu--text {
    font-size: 14px;
  }

  .profile-menu--icon {
    margin-right: 20px;
  }

  .profile-content--about {
    border-radius: 28px;
  }

  .input-profile--info {
    font-size: 14px;
    line-height: 16.8px;
  }

  .form-profile--input {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 16.8px;
  }

  .form-profile--input::placeholder {
    font-size: 14px;
  }

  .btn-clear--profile {
    top: 46px;
  }

  .btn-clear {
    width: 20px;
    height: 20px;
  }

  .password-change {
    font-size: 12px;
  }

  .form-profile--content {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }

  .form-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-profile--left,
  .form-profile--right {
    width: 100%;
  }

  .btn-eye--off {
    top: 33px;
  }

  .btn-profile {
    padding: 10px 22.5px;
    font-size: 16px;
    line-height: 19.01px;
    text-align: center;
  }

  .form-profile {
    padding: 28px 20px 240px 20px;
  }

  .form-profile--content {
    gap: 10px;
  }

  .form-profile--label:not(:last-child) {
    margin-bottom: 20px;
  }

  .input-profile--info {
    margin-bottom: 8px;
  }

  /* Меню */
  .profile-fio,
  .profile-card-title {
    font-size: 14px;
  }

  .icon-svg1,
  .icon-svg2 {
    width: 24px;
    height: 20px;
  }

  .icon-svg3 {
    width: 17px;
    height: 22.7px;
  }

  .profile-left {
    padding: 64px 20px 60px 20px;
  }

  .profile-fio {
    margin-bottom: 40px;
  }

  .profile-left-icon {
    display: flex;
    margin-right: 14px;
  }

  .profile-card {
    padding: 11px 30px;
    align-items: center;
  }

  .profile-left {
    height: 353px;
    width: 255px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  .profile-card:not(:last-child) {
    margin-bottom: 8px;
  }

  /* Избранное */
  .profile-cards {
    padding: 40px 20px 40px 20px;
  }

  .favorite-btn-wrap {
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }

  .favorite-btn-show {
    margin-right: 0;
    display: flex;
    align-items: center;
  }

  .favorite-btn-hide {
    margin-top: 20px;
  }

  .favorite-btn {
    padding: 10px 28px;
  }

  /* Общий тест */
  .results-info {
    padding: 40px 20px;
    /* padding-bottom: 60px; */
  }

  .profile-text {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 16.8px;
  }

  .results-btn--text {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 16.8px;
  }

  .profile-text--test {
    font-size: 16px;
  }

  .results-table--title,
  .results-table--cell {
    font-size: 14px;
    line-height: 16.8px;
  }

  .favorite-btn {
    font-size: 16px;
    line-height: 21.38px;
  }

  .favorite-btn svg {
    margin-left: 5px;
    width: 14px;
    height: 7px;
  }

  .result-btn-look {
    margin-bottom: 20px;
  }

  .results-tests-name,
  .results-tests-date {
    font-size: 12px;
  }

  .results-tests {
    padding: 7px 20px 7px 18px;
  }

  .result-block:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .result-block:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .task-table-title,
  .task-table-cell {
    font-size: 12px;
    line-height: 14px;
  }

  .task-table td {
    padding-top: 9.75px;
    padding-bottom: 9.75px;
    padding-left: 18px;
  }

  .task-table td:nth-child(odd),
  .task-table td:nth-child(even) {
    width: 50%;
  }

  .task-table-wrap.visible {
    max-height: 300px;
  }

  .btn-result {
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .results-btn-wrap {
    flex-direction: column;
    align-items: center;
  }

  /* Задания */
  .plus:before {
    content: url(../img/plus-mobile.svg);
  }

  .results-card--name {
    padding: 13.5px 20px;
    font-size: 14px;
    line-height: 16.8px;
  }

  .results-card--topic {
    border-radius: 12px;
  }

  .minus:before {
    content: url(../img/minus-mobile.svg);
  }

  .card-hidden--name,
  .card-hidden--text {
    font-size: 12px;
    line-height: 14.4px;
  }

  .card-hidden {
    padding-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-hidden--left {
    margin-bottom: 30px;
  }

  .card-hidden--left {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .form-profile {
    padding: 28px 20px 190px 20px;
  }

  .btn-clear--profile {
    top: 36px;
  }

  .cards__item .profile-card-favorite {
    height: 180px;
    border-radius: 20px;
  }

  .card__favorite svg {
    width: 20px;
    height: 20px;
  }

  .result-btn-look {
    width: 309px;
  }

  .cell-breakword {
    word-break: break-all;
  }

  .results-table--cell {
    width: calc(100% / 3);
  }

  .results-tests-wrap {
    width: 310px;
  }
}

@media (max-width: 480px) {
  .card-svg {
    right: 7%;
  }

  .results-card--name {
    width: 220px;
  }
}

@media (max-width: 375px) {
  .form-profile {
    padding: 28px 20px 120px 20px;
  }

  .cards__title-profile {
    line-height: 24px;
  }

  .results-tests-wrap {
    width: 280px;
  }

  .btn-no-points {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .form-profile {
    padding: 28px 20px 110px 20px;
  }
}
