@font-face {
    font-family: 'Maki-Sans';
    src: url('MakiSans-Regular.woff2') format('woff2'),
        url('MakiSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

